@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Prata&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #aaa;
}

h2, h3, h4{
  font-family: "Prata", serif;
  font-weight: 400;
}
header{
  background-color: #aaa;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .2rem;
}

header h1{
  margin: auto;
}
header button{
  padding: .4rem;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
}

.CV{
  max-width: 760px;
  margin: 10px auto;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}
/* profile img */



h2{
  color: #CA6D18;
  font-size: 1.2rem;
}

.cv-header{
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background-color: rgba(251, 242, 228, .5);
}


.profile-img{
  width: 120px;
  height: 120px;
  flex-shrink: 0;

  border-radius: 50%;
  object-fit: cover;
  object-position: center;

}

.profile-img:hover{
  cursor: pointer;
  filter: brightness(.9);
}

.cv-header .name-title{
  margin-left: 2rem;
  
}

.header-name{
  color: #222;
  font-size: 2rem;

}
.cv-header .header-name span{
  display: block;
}

.cv-header .links{
  margin-left: auto;
  display: flex;
  margin-bottom:.5rem;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.cv-header .links a{
  margin-bottom: .2rem;
  color: #222;
}
.links .link-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.links .link-logo{
  margin-right: .5rem;
  width: 20px;
  /* height: ; */
}

.main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: auto;
  margin: 2rem;
}

.main .work-experience .work-item,
.main .education .education-item{
  margin: 1.2rem 0;
}
.main .work-experience .work-item:last-of-type,
.main .education .education-item:last-of-type{
  margin-bottom: 0;
}
.main .work-experience .work-item h4,
.main .education .education-item h4{
  color:#797979;
  margin-bottom: .8rem;
  margin-right: 2rem;
}

.skills{
  margin: 0 2rem 2rem 2rem;
}
.skills ul{
  margin-top: 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.skills ul li{
  list-style: none;
  position: relative;
  margin-right: 1rem;
}


/* FORM STYLING */

.name-title-form,
.links-form{
  display: flex;
  flex-direction: column;
  
}
.name-title-form input{
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.links-form{
  margin-left: auto;
}
.links-form input{
  margin-bottom: .5rem;
  max-width: 190px;
  font-size: 1rem;
}


.main{
  min-height: 540px;
}

/* work form */ 
.btn{
  background-color: rgba(251, 242, 228, .5);
  border: 0;
  padding: .5rem 1rem;
  cursor: pointer;
}

.work-experience .work-item,
.education .education-item{
  position: relative;
}

.btn-del {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;  
  align-items: center;
  font-size: 2rem;
  background-color: rgba(255, 0, 0, .4);
}

.work-experience .work-item textarea{
  width: 300px;
  min-height: 100px;
  resize: vertical;
  padding: .2rem;
}
.skills ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;
}
.skills ul li input{
  margin-right: .5rem;
}
.skills ul li .btn-del{
  padding: 0;
  height: 0;
  width: 0;
  font-size: 1rem;
  position: relative;
}
/* 
.skills-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.skill-item{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  margin: .5rem 1rem;

}
.skill-item .btn-del{
  top: 50%;
  transform: translateY(-50%);

  height: 10px;
  font-size: 1rem;
  width: 10px;
  padding: 0;
  background-color: transparent;

} */

@media print{
   header{display: none;}
}